{% if header_menu or footer_menu %}
	<ul>
	{% for item in items %}
		<li class="{{ item.classes|join(' ') }}">
			<a target="{{ item.is_external ? '_blank' : '_self' }}" href="{{ item.link }}">
				{{ item.title }}
			</a>
			{% if item.children %}
				<button class="link-chev">
					<svg viewBox="0 0 100 100" version="1.1" x="0px" y="0px"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g fill="var(--e-global-color-0e8d878)"><path d="M67.5251263,62.4748737 C68.8919613,63.8417088 71.1080387,63.8417088 72.4748737,62.4748737 C73.8417088,61.1080387 73.8417088,58.8919613 72.4748737,57.5251263 L52.4748737,37.5251263 C51.1080387,36.1582912 48.8919613,36.1582912 47.5251263,37.5251263 L27.5251263,57.5251263 C26.1582912,58.8919613 26.1582912,61.1080387 27.5251263,62.4748737 C28.8919613,63.8417088 31.1080387,63.8417088 32.4748737,62.4748737 L50.0095722,44.9401752 L67.5251263,62.4748737 Z" transform="translate(50.000000, 50.000000) rotate(180.000000) translate(-50.000000, -50.000000) "/></g></g></svg>
				</button>
				{% endif %}
			{% if item.children %}
			<ul class="sub-menu">
				{% for subitem in item.children %}
					<li class="{{ subitem.classes|join(' ') }}">
						<a target="{{ subitem.is_external ? '_blank' : '_self' }}" href="{{ subitem.link }}">{{ subitem.title }}</a>
					</li>
				{% endfor %}
			</ul>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
