<article class="tease tease-{{ post.post_type }}" id="tease-{{ post.ID }}">
	{% block content %}
		{% if post.thumbnail %}
			<img loading="lazy" src="{{ post.thumbnail.src }}" srcset="{{ post.thumbnail.srcset }}" width="{{ post.thumbnail.width }}" height="{{ post.thumbnail.height }}" alt="{{ post.thumbnail.alt }}" />
		{% endif %}
		<h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
		<p>{{ post.excerpt }}</p>
	{% endblock %}
</article>